@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Contact Manager";
}

<a asp-action="Add" asp-controller="Contact">Add Contact</a>
<table>
    <thead>
        <tr>First Name</tr>
        <tr>Last Name</tr>
        <tr>Phone Number</tr>
        <tr>Email Address</tr>
        <tr>Category</tr>
    </thead>

    <tbody>
        @foreach(Contact contact in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-controller="Contact"
                   asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug">@contact.FirstName</a>
            </td>

            <td>
                <a asp-action="Details" asp-controller="Contact"
                   asp-route-id="@contact.ContactId" asp-route-slug="@contact.Slug">@contact.LastName</a>
            </td>

            <td>@contact.Phone</td>
            <td>@contact.Email</td>
            <td>@contact.Category.Name</td>
        </tr>
        }
    </tbody>
</table>